
.icon-mail-1:before { content: '\e800'; } /* '' */
.icon-ok-1:before { content: '\e801'; } /* '' */
.icon-download-cloud:before { content: '\e802'; } /* '' */
.icon-briefcase:before { content: '\e804'; } /* '' */
.icon-comment-alt:before { content: '\e805'; } /* '' */
.icon-cloud:before { content: '\e806'; } /* '' */